<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MyBusinessLib_DbConnString" value="connection timeout=15; user id=root;password=000000; port=3306; database=xbase; data source=mysql;use compression=true; pooling=true; min pool size=3; max pool size=76;charset='utf8mb4'" />
    <add key="DbConnTypeName" value="mysql" />
    <add key="LogPath" value="C:/T/GithubPro/XBase/ConsoleApp/log" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
